{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@utils": "./src/utils",
          "@controllers": "./src/controllers",
          "@middlewares": "./src/middlewares",
          "@models": "./src/models"
        }
      }
    ],
    "@babel/plugin-transform-block-scoping",
    "add-module-exports"
  ]
}
